main {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 90%;
    overflow: auto;
    @include sans-serif($dark, 1em);
}

article {
    .article-p {
        text-align: center;
    }
}

.how-to-use-stuff {
    
    .how-to-use-stuff__title {
        text-align: center;
        font-size: 2em;
    }

    p, h3 {
        margin: 0;
    }


    .pink {
        display: block;
        color: #DD4182;
    }
}