.form__styles {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-content: center;

    width: 100%;
}

input[type="button"] {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #fff;
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

input[type="reset"] {
    background-color: #0087BD;
    border: 1px solid #0087BD;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

input[type="reset"]:hover {
    background-color: #fff;
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

input[class=delete_button] {
	background: #CC0000FF;
	border: 1px solid #CC0000FF;
}

input[class=delete_button]:hover {
	background: #fff;
	color: #CC0000FF;
	border: 1px solid #CC0000FF;
}

